.bsas{
    color:white;
}

.navbar-collapse{
 margin-left: 500px;
}



.imagencompleta{
    background-image: url(../img/hawaii.jpg);
    background-image: center;
    background-image: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.centrar {
    margin-top: 10px;
    text-align: center;

}

.btn-warning{
    color: black;
    font-weight: bold;
    padding: 0.5px;
    
}

.btn-info{
    color: white;
    font-weight: bold;
    padding: 0.5px;
}

.btn-secondary{
    color: white;
    font-weight: bold;
    padding: 0.5px;
}

.btn-danger{
    color: white;
    font-weight: bold;
    padding: 0.5px;
}


.derecha{
    background-image: url(../img/honolulu.jpg);
    background-size: cover;
    height:100vh;
}

.izquierda{
    background-color: rgb(51, 51, 51);
    color: white;
}

.btn-outline-secondary{
    color: white;
    border-color: white;
}


h4{
    margin-top: 25px;
}

.centrar2 {
    margin-top: 20px;
    text-align: center;
    
}

.texto a{
    color:black;
}

.texto{
text-align: center;
}



.caja{
    height: 20px;
}


.abajo{
    color: gray;
    font-size: small;
    
}

.carousel-caption{
    text-align: right;
    top: 280px;
}

.ultimo{
    color: gray;
    font-size: small;
}


.btn-primary{
    color: white;
    background-color: rgb(85, 212, 85);
    border-color: rgb(85, 212, 85) ;
    
}

.btn-primary:hover{
    background-color:rgb(85, 212, 85); 
    border-color:rgb(85, 212, 85); ;
}

.padding-izq{
    padding-left: 0;
    
}

.padding-der{
    padding-right: 0;
}
.margin_abajo{
    margin-bottom: 10px;
}


.experimento{
    margin-left: 250px;
    height: 60px;
}

